body {
	padding-top: 50px;
}

.force-input-height {
	height: 34px;
}

.form-group {

	&.required {
		.control-label {
			cursor: pointer;

			&:after {
				color: #d00;
	    		content: "*";
	    		margin-left: 2px;

	    		font-family: 'Glyphicons Halflings';
				font-weight: normal;
				font-size: 10px;
			}
				
		}
	}
}

.txt-right {
	text-align: right;
}